::ng-deep label {
  font-weight: bold;
  font-family: Arial;
  color: blue;

  display: block;
  margin-bottom: 20px;
}

app-dados-cliente, app-listagem-contas {
  display: block;
  border: 1px solid black;
}
